%h1 Listing users

%table
  %tr
    %th Name
    %th Email
    %th Balance
    %th Last Sign-in

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.email
      %td= number_to_currency user.balance
      %td= user.last_sign_in_at? ? user.last_sign_in_at.to_s(:short) : ''
