%p
  %b Ordered by:
  = @order.orderer.name
%p
  %b Accepted by:
  = @order.accepter.nil? ? 'nobody' : @order.accepter.name
  %b Date:
  = @order.date
%p
  %b Items:
  %ul
    - @order.items.each do |item|
      %li
        = item.name
