%ul.block_links
  - @restaurants.each do |restaurant|
    %li[restaurant]
      = link_to restaurant, :confirm => 'Really delete?', :method => :delete, :class => 'delete_link' do
        &times;
      - link_to restaurant do
        %p.title= restaurant.name
        %p.info= pluralize(restaurant.items.length, 'menu item')
.add_new
  = link_to 'Add a restaurant', new_restaurant_path, :class => 'new_link'
